<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="Data Source=218.87.136.15;Initial Catalog=Schoolfellow;Persist Security Info=True;User ID=xy;Password=xy2009@jxust" />
  </appSettings>
  
  <system.web>
    
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5" />-->
  </system.web>
  
    <system.serviceModel>
      <bindings>
        <webHttpBinding>
          <binding name="webBinding"/>
        </webHttpBinding>
      </bindings>
        <behaviors>
          <endpointBehaviors>
            <behavior name="webBehavior">
              <!--这里必须设置-->
              <webHttp/>
            </behavior>
          </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
          
          <service name="WcfServiceLibs.GetFellowInfo">
              <endpoint address="" behaviorConfiguration="webBehavior"  bindingConfiguration="webBinding"  binding="webHttpBinding" contract="WcfServiceLibs.IGetFellowInfo">
              <identity>
                <dns value="localhost" />
              </identity>
            </endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8888/Service/" />
              </baseAddresses>
            </host>
          </service>
        </services>
    </system.serviceModel>
</configuration>
